// This mixin is to use when I need media querys, it recieves a list of sizes to use.
// It can only be two sizes, if recieves only one it will use max-width in the media query
// if it recives two it will use between max-width and min-width.
// I used from youtuber net-ninja and saw it in the next video tutorial:
// https://www.youtube.com/watch?v=EKvzabk35cU
@mixin mediaQuery($sizes...) {
  @if length($sizes...) == 1 {
    @media screen and (max-width: nth($sizes..., 1)) {
      @content;
    }
  }

  @if length($sizes...) == 2 {
    @media screen and (max-width: nth($sizes..., 1)) and (min-width: nth($sizes,2)) {
      @content;
    }
  }
}

// This mixin receives a list that would contain the width and a heigth, in that
// order, if the list have only one element the value will apply for both
@mixin width-height($size...) {
  @if length($size) == 1 {
    height: nth($size, 1);
    width: nth($size, 1);
  } @else {
    width: nth($size, 1);
    height: nth($size, 2);
  }
}