/* #region base */
body {
  color: #313131;
  background-color: #fff;
  font-family: "Arimo", sans-serif;
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none !important;
  color: inherit;
}

a:hover {
  color: #b9b9b9;
}

li {
  list-style: none;
}

img {
  object-fit: cover;
}

/* #endregion base */

/* #region header */
header {
  height: auto;
  height: calc(10vh - 10px);
}

header,
nav {
  width: 100%;
  min-width: 10vh;
  margin-bottom: 5px;
}

.nav__top {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
}

.nav__title {
  font-size: medium;
  font-weight: bold;
  color: #313131;
}

/* #endregion header */

/* #region modules */

/* #region flex */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.jc-start {
  justify-content: start;
}

.jc-center {
  justify-content: center;
}

.jc-end {
  justify-content: end;
}

.jc-between {
  justify-content: space-between;
}

.ac-start {
  align-content: flex-start;
}

.ac-center {
  align-content: center;
}

.ac-end {
  align-content: flex-end;
}

.ac-between {
  align-content: space-between;
}

.ai-start {
  align-items: flex-start;
}

.ai-center {
  align-items: center;
}

.ai-end {
  align-items: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* #endregion flex */

/* #region display */
.none {
  display: none;
}
/* #endregion display */

/* #endregion modules */

/* #region media queries */
@media only screen and (min-device-width: 768px) {
  /* #region base */

  /* #endregion base */

  /* #region header */

  /* #endregion header */

  /* #region modules */

  /* #region flex */
  .md-flex {
    display: flex;
  }

  .md-flex-column {
    flex-direction: column;
  }

  .md-jc-start {
    justify-content: start;
  }

  .md-jc-center {
    justify-content: center;
  }

  .md-jc-end {
    justify-content: end;
  }

  .md-ac-start {
    align-content: flex-start;
  }

  .md-ac-center {
    align-content: center;
  }

  .md-ac-end {
    align-content: flex-end;
  }

  .md-ac-between {
    align-content: space-between;
  }

  .md-ai-start {
    align-items: flex-start;
  }

  .md-ai-center {
    align-items: center;
  }

  .md-ai-end {
    align-items: flex-end;
  }

  .md-flex-wrap {
    flex-wrap: wrap;
  }

  /* #endregion flex */

  /* #endregion modules */
}

@media only screen and (min-device-width: 1024px) {
  /* #region base */

  /* #endregion base */

  /* #region header */

  /* #endregion header */

  /* #region modules */

  /* #region flex */
  .dt-flex {
    display: flex;
  }

  .dt-flex-column {
    flex-direction: column;
  }

  .dt-jc-start {
    justify-content: start;
  }

  .dt-jc-center {
    justify-content: center;
  }

  .dt-jc-end {
    justify-content: end;
  }

  .dt-ac-start {
    align-content: flex-start;
  }

  .dt-ac-center {
    align-content: center;
  }

  .dt-ac-end {
    align-content: flex-end;
  }

  .dt-ac-between {
    align-content: space-between;
  }

  .dt-ai-start {
    align-items: flex-start;
  }

  .dt-ai-center {
    align-items: center;
  }

  .dt-ai-end {
    align-items: flex-end;
  }

  .dt-flex-wrap {
    flex-wrap: wrap;
  }

  /* #endregion flex */

  /* #endregion modules */
}
/* #endregion media queries */
